In [ ]:
import xgboost as xgb
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
import time
import datetime

In [ ]:
def abs_MAPE_error(y_pred,y_true):
    return np.mean((np.abs(y_pred-y_true)/np.abs(y_true)) )
def abs_MAPE_error_element(y_pred,y_true):
    return np.abs(y_pred-y_true)/np.abs(y_true)
def abs_error(y_pred,y_true):
    return np.mean((np.abs(y_pred-y_true)))  
def abs_error_element(y_pred,y_true):
    return np.abs(y_pred-y_true)

In [ ]:
X = pd.read_csv('C:/Users/Administrator/PycharmProjects/Traffic/Feature/X.csv')
Xtest = pd.read_csv('C:/Users/Administrator/PycharmProjects/Traffic/Feature/Xtest.csv')
Y = pd.read_csv('C:/Users/Administrator/PycharmProjects/Traffic/Feature/Y.csv')

In [ ]:
cols_drop = ['TOLLGATE_ID','INTERSECTION_ID','TRN_STA','TRN_END','TST_STA','XTST_END']
X.drop(cols_drop,axis=1,inplace=True)
Xtest.drop(cols_drop,axis=1,inplace=True)

In [ ]:
## #################### # # Feature selection######################################

In [ ]:
X.head()

In [ ]:
pd.set_option("display.max_columns",100)

In [ ]:
cols = list(X.columns)

In [ ]:
X.columns

In [ ]:
Xtest.columns

In [ ]:
DEL_COLS = ['TIME_MIN','TIME_MAX','TSTW02','TSTW03','TSTW04','TRNW02','TRNW03','TRNW04'
            ,'ROUTE_MIN_TTIME','ROUTE_MAX_TTIME','ROUTE_LAST_TTIME','ROUTE_MEAN_TTIME','FIX']

In [ ]:
for INDEX in DEL_COLS:
    cols.remove(INDEX)

In [ ]:
len(cols)

In [ ]:
# from sklearn.preprocessing import PolynomialFeatures
# poly = PolynomialFeatures(2, interaction_only=True, include_bias=False)
# X_F = pd.DataFrame(poly.fit_transform(X[cols]))
# Xtest_F = pd.DataFrame(poly.transform(Xtest[cols]))
# for a in X_F.columns:
#     scaler = StandardScaler()
#     X_F[a] = scaler.fit_transform(X_F[a])
# for a in Xtest_F.columns:
#     scaler = StandardScaler()
#     Xtest_F[a] = scaler.fit_transform(Xtest_F[a])

In [ ]:
X.fillna(method='ffill',inplace=True)

In [ ]:
for a in cols:
    scaler = StandardScaler()
    X[a] = scaler.fit_transform(X[a])
for a in cols:
    scaler = StandardScaler()
    Xtest[a] = scaler.fit_transform(Xtest[a])

In [ ]:
## #################### XGBOOST CV######################################

In [ ]:
import xgboost as xgb
depth = 5
eta = 0.03
mcw = 2
params = {"objective": "reg:linear",
          "booster": "gbtree",
          "eta": eta,
          "max_depth": depth,
          "min_child_weight": mcw,
#               "subsample": 0.9,
#               "colsample_bytree": 0.7,
          "silent": 1
          ,"reg_lambda":1
          }
for ind in range(6):
    dtrain = xgb.DMatrix(X[cols].values,Y.values[:,ind])
    xgb.cv(params,dtrain, num_boost_round=1600,nfold=10,early_stopping_rounds=100,verbose_eval=100)

In [ ]:
## #################### # # ######################################

In [108]:
# 重复划分10次，取平均
# ERROR_LIST=[]
# for x in range(10):
#     ############Split Train DATA and Test Data############################################################
#     from sklearn import cross_validation
#     X_train_m, X_test_m,y_train_m, y_test_m = cross_validation.train_test_split(X,Y, test_size=0.008)
#     ############Split Train DATA and Test Data############################################################

X =  X[cols]
Y = Y
Xtest = Xtest[cols]

error_list = []
Ytrain_all = pd.DataFrame()
XGBR = xgb.XGBRegressor(max_depth = 3,learning_rate=0.1,n_estimators=500,reg_alpha=0,reg_lambda=1)
for ind in range(6):
    time1 = time.time()
    XGBR.fit(X.values,Y.values[:,ind] )
    y_true = Y.values[:,ind]
    y_pred = XGBR.predict(X.values)   
    time2 = time.time()  
    print(str(ind)+ '_error:' + str(abs_MAPE_error(y_pred,y_true  ) ) + '__time:'+ str(time2 - time1) )
    error_list.append(abs_MAPE_error(y_pred, y_true  ))

    Ytrain =  XGBR.predict(X.values)
    Ytrain_df = pd.DataFrame(Ytrain)
    Ytrain_all = pd.concat((Ytrain_all,Ytrain_df),axis = 1)   
print(np.mean(error_list))

#%%
Ytrain_true = pd.DataFrame(Y)
Y_error = abs_MAPE_error_element(Ytrain_all.values,Ytrain_true.values  )  
Good_ind =  Y_error.sum(axis=1).argsort()[0:np.int(0.90*len(X))]
#%%
XGBR = xgb.XGBRegressor(max_depth = 5,learning_rate=0.03,n_estimators=1600,reg_alpha=1,reg_lambda=0,min_child_weight=2*20)
Ytest_all = pd.DataFrame()
error_list = []
Ytrain_all = pd.DataFrame()
for ind in range(6):
    time1 = time.time()
    XGBR.fit(X.values[Good_ind],Y.values[Good_ind,ind])
    y_true = Y.values[Good_ind,ind]
    y_pred = XGBR.predict(X.values[Good_ind])
    time2 = time.time()    
    print(str(ind)+ '_error:' + str(abs_MAPE_error(y_pred,y_true  ) ) + '__time:'+ str(time2 - time1) )
    error_list.append(abs_MAPE_error(y_pred, y_true  ))
    Ytest = XGBR.predict(Xtest.values)
    Ytest_df = pd.DataFrame(Ytest)
    Ytest_all = pd.concat((Ytest_all,Ytest_df),axis = 1)    
print(np.mean(error_list))

#     y_test_m.reset_index(drop=True,inplace=True)
#     ERROR_LIST.append(abs_MAPE_error(Ytest_all.values,y_test_m.values))
#     print("train_error:",np.mean(error_list)," vaild_error:",abs_MAPE_error(Ytest_all.values,y_test_m.values))
# print(np.mean(ERROR_LIST))

0_error:0.16749721002__time:2.568830728530884
1_error:0.169412870864__time:2.5698344707489014
2_error:0.171556546391__time:3.051614999771118
3_error:0.172857111992__time:2.8500797748565674
4_error:0.173910666598__time:2.626986265182495
5_error:0.174852903433__time:2.5171942710876465
0.171681218216
0_error:0.134663311216__time:13.004585266113281
1_error:0.132397864036__time:12.477182388305664
2_error:0.132320501539__time:13.789673566818237
3_error:0.12673540596__time:13.550036907196045
4_error:0.131204817102__time:13.714974164962769
5_error:0.13139579449__time:13.492883205413818
0.131452949057

In [109]:
# Gernerate Final Result

In [110]:
Xtest = pd.read_csv('C:/Users/Administrator/PycharmProjects/Traffic/Feature/Xtest.csv')
Ytest_all.columns = [0,1,2,3,4,5]
result = pd.concat([Ytest_all,Xtest],axis=1)
result = result.loc[:,[0,1,2,3,4,5,'TOLLGATE_ID','INTERSECTION_ID','TRN_STA','TRN_END']]
result['TRN_END'] = result['TRN_STA'].apply(lambda x :
str((datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S') + datetime.timedelta(hours=2))))

In [111]:
result

,0,1,2,3,4,5,TOLLGATE_ID,INTERSECTION_ID,TRN_STA,TRN_END
0,100.047379,81.544846,50.909382,54.535751,65.834267,67.249519,2,A,2016-10-18 06:00:00,2016-10-18 08:00:00
1,176.090439,164.328079,130.809982,125.463135,106.251770,116.174461,3,A,2016-10-18 06:00:00,2016-10-18 08:00:00
2,95.720497,105.576065,90.736832,88.843697,88.595589,89.612236,1,B,2016-10-18 06:00:00,2016-10-18 08:00:00
3,71.049316,69.548119,73.280220,71.776016,58.774078,57.548744,3,B,2016-10-18 06:00:00,2016-10-18 08:00:00
4,194.261810,150.347580,149.883057,159.974655,168.339096,180.987854,1,C,2016-10-18 06:00:00,2016-10-18 08:00:00
5,162.242249,135.349640,136.080627,138.289200,138.483948,129.810455,3,C,2016-10-18 06:00:00,2016-10-18 08:00:00
6,112.043556,72.564186,67.142906,60.619209,63.460438,64.133987,2,A,2016-10-19 06:00:00,2016-10-19 08:00:00
7,155.051865,150.331802,128.577789,124.326218,108.617714,121.646423,3,A,2016-10-19 06:00:00,2016-10-19 08:00:00
8,100.875504,86.658821,90.148140,102.566010,106.048660,87.765114,1,B,2016-10-19 06:00:00,2016-10-19 08:00:00
9,77.008537,77.276154,83.392471,82.182228,78.809525,82.549072,3,B,2016-10-19 06:00:00,2016-10-19 08:00:00
10,159.202835,164.355942,162.297470,179.452728,183.799759,161.364395,1,C,2016-10-19 06:00:00,2016-10-19 08:00:00
11,121.068710,118.892059,110.457642,129.182587,123.620827,119.405777,3,C,2016-10-19 06:00:00,2016-10-19 08:00:00
12,77.754616,72.716049,55.620354,61.893543,62.763058,66.710541,2,A,2016-10-20 06:00:00,2016-10-20 08:00:00
13,153.119507,145.309891,124.812607,119.757324,130.242142,117.051682,3,A,2016-10-20 06:00:00,2016-10-20 08:00:00
14,92.377731,96.207382,103.768448,94.024765,94.493828,90.362450,1,B,2016-10-20 06:00:00,2016-10-20 08:00:00
15,77.769608,75.403725,78.788017,79.044304,73.931755,64.778870,3,B,2016-10-20 06:00:00,2016-10-20 08:00:00
16,171.516754,184.329544,173.539856,223.927048,205.488968,192.624496,1,C,2016-10-20 06:00:00,2016-10-20 08:00:00
17,163.393906,124.147987,162.263046,177.417175,156.806137,120.658310,3,C,2016-10-20 06:00:00,2016-10-20 08:00:00
18,97.657059,76.281792,67.101822,59.794315,61.158848,56.747875,2,A,2016-10-21 06:00:00,2016-10-21 08:00:00
19,134.607330,133.128784,123.575089,120.762856,136.690964,122.508148,3,A,2016-10-21 06:00:00,2016-10-21 08:00:00
20,95.047760,94.407890,91.723526,109.713928,104.598503,95.790535,1,B,2016-10-21 06:00:00,2016-10-21 08:00:00
21,69.003616,78.776985,82.472672,70.111420,72.294113,66.702110,3,B,2016-10-21 06:00:00,2016-10-21 08:00:00
22,185.937744,200.783142,191.682648,192.990997,171.859360,188.426651,1,C,2016-10-21 06:00:00,2016-10-21 08:00:00
23,139.961014,167.607391,151.281326,149.285690,151.499969,133.453384,3,C,2016-10-21 06:00:00,2016-10-21 08:00:00
24,111.903931,61.414932,56.066357,61.488102,61.294525,50.618587,2,A,2016-10-22 06:00:00,2016-10-22 08:00:00
25,116.648804,113.128883,114.404030,138.084900,107.331406,94.338058,3,A,2016-10-22 06:00:00,2016-10-22 08:00:00
26,107.369011,106.080078,105.532028,99.377625,97.252609,107.987175,1,B,2016-10-22 06:00:00,2016-10-22 08:00:00
27,81.575859,77.137421,73.721054,80.634819,63.164917,66.712860,3,B,2016-10-22 06:00:00,2016-10-22 08:00:00
28,164.676498,185.034058,188.569138,185.765289,185.373993,189.012772,1,C,2016-10-22 06:00:00,2016-10-22 08:00:00
29,135.231125,142.794312,138.314957,130.513947,136.082245,121.041344,3,C,2016-10-22 06:00:00,2016-10-22 08:00:00
...,...,...,...,...,...,...,...,...,...,...
54,70.051941,71.950951,48.185341,57.016331,54.277008,58.211189,2,A,2016-10-20 15:00:00,2016-10-20 17:00:00
55,89.109390,101.621391,94.901070,101.647957,101.117401,94.617432,3,A,2016-10-20 15:00:00,2016-10-20 17:00:00
56,106.316795,103.753281,102.732269,107.397644,113.040070,103.438538,1,B,2016-10-20 15:00:00,2016-10-20 17:00:00
57,84.108215,73.146683,74.399529,73.476471,79.269157,69.383194,3,B,2016-10-20 15:00:00,2016-10-20 17:00:00
58,168.848923,180.343307,170.361938,183.773712,173.431198,179.853882,1,C,2016-10-20 15:00:00,2016-10-20 17:00:00
59,132.677338,126.752144,131.635956,147.247086,127.267075,110.297401,3,C,2016-10-20 15:00:00,2016-10-20 17:00:00
60,57.057217,65.348404,67.568390,64.216019,67.731049,53.906635,2,A,2016-10-21 15:00:00,2016-10-21 17:00:00
61,104.347771,105.779663,108.669975,110.064766,108.914230,111.972229,3,A,2016-10-21 15:00:00,2016-10-21 17:00:00
62,118.844559,122.012924,114.815804,119.664070,101.237968,110.951660,1,B,2016-10-21 15:00:00,2016-10-21 17:00:00
63,79.916306,80.606216,77.319511,72.587486,70.888672,73.800034,3,B,2016-10-21 15:00:00,2016-10-21 17:00:00
64,186.464127,200.283401,213.801117,175.151993,219.272125,208.685303,1,C,2016-10-21 15:00:00,2016-10-21 17:00:00
65,131.741760,128.433884,134.707596,116.427124,116.028229,138.522049,3,C,2016-10-21 15:00:00,2016-10-21 17:00:00
66,85.093666,63.773170,76.246696,61.962280,48.387779,64.862366,2,A,2016-10-22 15:00:00,2016-10-22 17:00:00
67,100.082413,90.676109,96.191589,108.067764,92.103455,102.793037,3,A,2016-10-22 15:00:00,2016-10-22 17:00:00
68,114.856689,103.185501,110.146141,109.827621,108.055611,110.952942,1,B,2016-10-22 15:00:00,2016-10-22 17:00:00
69,79.343704,77.965675,72.906403,79.335083,85.148422,71.472443,3,B,2016-10-22 15:00:00,2016-10-22 17:00:00
70,193.013885,178.554886,200.637451,184.151093,179.411285,194.463089,1,C,2016-10-22 15:00:00,2016-10-22 17:00:00
71,125.242653,167.890869,139.167145,144.951599,117.925255,106.158569,3,C,2016-10-22 15:00:00,2016-10-22 17:00:00
72,55.613815,60.769390,65.566414,59.259815,57.291016,46.223373,2,A,2016-10-23 15:00:00,2016-10-23 17:00:00
73,106.404488,99.948761,117.148148,122.746803,109.477455,108.070778,3,A,2016-10-23 15:00:00,2016-10-23 17:00:00
74,121.575523,121.744858,115.019691,110.176094,98.046227,103.426582,1,B,2016-10-23 15:00:00,2016-10-23 17:00:00
75,79.424141,76.034767,76.104477,83.491066,73.473572,66.158478,3,B,2016-10-23 15:00:00,2016-10-23 17:00:00
76,188.292511,195.271179,174.823044,156.334015,175.579681,184.084900,1,C,2016-10-23 15:00:00,2016-10-23 17:00:00
77,139.630630,143.105026,140.175201,114.678589,127.878098,150.399368,3,C,2016-10-23 15:00:00,2016-10-23 17:00:00
78,75.097549,76.425423,67.317062,63.081390,56.784603,61.972210,2,A,2016-10-24 15:00:00,2016-10-24 17:00:00
79,106.410599,96.678375,99.558479,104.185829,99.223351,97.834305,3,A,2016-10-24 15:00:00,2016-10-24 17:00:00
80,101.699921,97.484398,101.274002,116.174232,90.946297,111.363724,1,B,2016-10-24 15:00:00,2016-10-24 17:00:00
81,76.088196,72.134048,75.917488,79.921890,71.068527,72.053215,3,B,2016-10-24 15:00:00,2016-10-24 17:00:00
82,186.365097,188.531998,176.983673,164.296844,170.598419,178.965698,1,C,2016-10-24 15:00:00,2016-10-24 17:00:00
83,135.213287,121.034081,135.444672,123.961937,123.514267,117.340446,3,C,2016-10-24 15:00:00,2016-10-24 17:00:00

In [112]:
sub_result = pd.DataFrame()
for x in range(result.shape[0]):
    t = result.loc[x,:]
    for y in range(6):
        end_time = str(datetime.datetime.strptime(t['TRN_END'],'%Y-%m-%d %H:%M:%S') + datetime.timedelta(minutes=20*(y+1)))
        start_time = str((datetime.datetime.strptime(t['TRN_END'],'%Y-%m-%d %H:%M:%S') + datetime.timedelta(minutes=20*y)))
        timewindow = '['+start_time+','+end_time+')'
        each_result = pd.DataFrame({'intersection_id':[t['INTERSECTION_ID']],'tollgate_id':[t['TOLLGATE_ID']]
        ,'time_window':[timewindow] ,'avg_travel_time':[t[y]]})  
        sub_result = pd.concat((sub_result,each_result),axis=0)

In [113]:
sub_result

,avg_travel_time,intersection_id,time_window,tollgate_id
0,100.047379,A,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",2
0,81.544846,A,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",2
0,50.909382,A,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",2
0,54.535751,A,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",2
0,65.834267,A,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",2
0,67.249519,A,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",2
0,176.090439,A,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",3
0,164.328079,A,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",3
0,130.809982,A,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",3
0,125.463135,A,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",3
0,106.251770,A,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",3
0,116.174461,A,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",3
0,95.720497,B,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",1
0,105.576065,B,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",1
0,90.736832,B,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",1
0,88.843697,B,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",1
0,88.595589,B,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",1
0,89.612236,B,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",1
0,71.049316,B,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",3
0,69.548119,B,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",3
0,73.280220,B,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",3
0,71.776016,B,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",3
0,58.774078,B,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",3
0,57.548744,B,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",3
0,194.261810,C,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",1
0,150.347580,C,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",1
0,149.883057,C,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",1
0,159.974655,C,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",1
0,168.339096,C,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",1
0,180.987854,C,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",1
...,...,...,...,...
0,106.410599,A,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",3
0,96.678375,A,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",3
0,99.558479,A,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",3
0,104.185829,A,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",3
0,99.223351,A,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",3
0,97.834305,A,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",3
0,101.699921,B,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",1
0,97.484398,B,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",1
0,101.274002,B,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",1
0,116.174232,B,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",1
0,90.946297,B,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",1
0,111.363724,B,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",1
0,76.088196,B,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",3
0,72.134048,B,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",3
0,75.917488,B,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",3
0,79.921890,B,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",3
0,71.068527,B,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",3
0,72.053215,B,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",3
0,186.365097,C,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",1
0,188.531998,C,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",1
0,176.983673,C,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",1
0,164.296844,C,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",1
0,170.598419,C,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",1
0,178.965698,C,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",1
0,135.213287,C,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",3
0,121.034081,C,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",3
0,135.444672,C,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",3
0,123.961937,C,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",3
0,123.514267,C,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",3
0,117.340446,C,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",3

In [114]:
cols = ['intersection_id','tollgate_id','time_window','avg_travel_time']
sub_result = sub_result.ix[:, cols]

In [115]:
sub_result.to_csv('XGBOOST1.csv',index=False,)